@model Song
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lip Service</title>
</head>
<body>
    <h1 class ="text-center">Lip Service</h1>
    <h4 class ="text-center">Add a new song here!</h4>
    <form class="shadow p-3 rounded" asp-controller = "Song" asp-action = "CreateSong" method = "POST">
        <div class="mb-3">
            <label asp-for="SongName" style="font-size: 20px"></label>
            <span asp-validation-for="SongName" class="text-danger font-weight-bold"></span>
            <input asp-for="SongName" style="font-family: Arial">
        </div>
        <div class="mb-3">
            <label asp-for="Lyrics" style="font-size: 20px"></label>
            <span asp-validation-for="Lyrics" class="text-danger font-weight-bold"></span>
            <div>
                <textarea asp-for="Lyrics" style="padding-bottom: 300px; width: 400px; font-family: Arial"></textarea>
            </div>
        </div>
        <button class="btn btn-success">Add</button>
    </form>
</body>
</html>