<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LipService</title>
</head>
<body>
    <h1>Lip Service</h1>
    <h4>Add a new song here!</h4>
    <form class="shadow p-3 rounded" asp-controller = "Song" asp-action = "CreateSong" method = "POST">
        
    </form>
</body>
</html>