@model List<Song>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lip Service</title>
</head>
<body>
    <h1 class ="text-center">Here are all your songs!</h1>
    <div class="d-flex justify-content-around">
        @foreach(Song s in Model)
        {
            <a asp-controller="Song" asp-action="OneSong" asp-route-songId="@s.SongId"><button class = "btn-song-class">@s.SongName</button></a>
        }
    </div>
</body>
</html>