@model Song

<h1 class ="text-center">@Model.SongName</h1>
<h4 class ="text-center mt-4 mb-4">Click on one of the buttons below for a list of tweets containing that lyric!</h4>

@{
    string songLine = "";
    @* Complete line of the song *@
    string query = "";

}
@foreach (List<string> lyricSublist in ViewBag.LyricsList)
{
    foreach(string lyric in lyricSublist)
    {
        @* Inside of array of 9 words *@

        songLine += (lyric + " ");
    }

    query = songLine.Replace("and", " ").Replace("And", " ");

    <div class="d-flex w-75 ">
        <a class="btn btn-lyric mb-2" asp-controller="Song" asp-action="GetTweets" asp-route-lyric="@query">@songLine</a>
    </div>
    
    songLine = "";
}