@model Song
@{
    string songLine = "";
    @* Complete line of the song *@
    string query = "";
    @* Will hold the line of the song minus the 'ands' which conflict with the API call *@
}

<div class="w-100 d-flex justify-content-around">
    <div class="mr-5" id="left">
        <h1 class ="text-center mb-5">@Model.SongName</h1>
        <div class="w-100">

            @* Begins the loop through the 2-D Array passed through in SongController.cs OneSong route *@
            @foreach (List<string> lyricSublist in ViewBag.LyricsList)
            {
                @* Begins looping through the list of 9 words stored in the 2-D Array *@
                foreach(string lyric in lyricSublist)
                {
                    @* Adds each word to the songLine, + an empty space *@
                    songLine += (lyric + " ");
                }

                @* Once the songLine is holding all 9 words, query holds that songLine minus the 'ands' *@
                query = songLine.Replace("and", " ").Replace("And", " ");

                <div class="d-flex w-100 mr-5"> 
                    @* Query gets passed into the route, songLine gets displayed on the page *@
                    <a class="btn btn-lyric mb-2" asp-controller="Song" asp-action="GetTweets" asp-route-lyric="@query" asp-route-songId="@Model.SongId">@songLine</a>
                </div>
                @* Resets the songLine to empty before starting the next one. *@
                songLine = "";
            }
        </div>
    </div>
    <div class=" w-50 ms-5" id="right">
        <h1 class ="text-center mb-5">Directions: </h1>
        <div class="mx-auto p-3" style="border: 2px solid rgb(42, 178, 231)">
            <h4 class ="text-right mt-4 mb-4">Click one of the lines from your song to get all recent tweets containing that lyric!</h4>
            <h4 class ="text-right mt-4 mb-4">LipService will start to search for tweets containing that text.</h4>
            <h4 class ="text-right mt-4 mb-4"> <span style="color:rgb(42, 178, 231);">* </span>This may take awhile if there are a lot of tweets to retrieve.</h4>
            <h4 class ="text-right mt-4 mb-4">If there are no tweets found you'll have to try another line.</h4>
        </div>
    </div>
</div>