@model Query

<div>
      <h1>Welcome to Lip Service!</h1>
    <h4>Are you wondering who's tweeting about your songs? With our service, you can know!</h4>
    <p>Try it out here!</p>
    <p>Click a lyric below to be shown who's tweeing those lyrics:</p>
    <p>Like what you see? Create an account!</p>
</div>
<div class="d-flex justify-content-around">

    <div class="w-50">
        <partial name = "_Register"></partial>
    </div>
    <div class="w-50 ms-3">
    <partial name = "_Login"></partial>

    </div>


</div>

<div class="bordered border-black w-50">
<a class="btn btn-success" asp-controller="Song" asp-action="GetTweets" asp-route-lyric="Cash Rule Everything Around Me">Cash Rule Everything Around Me</a>

</div>