@model Query

<div>
    <h1>Welcome to Lip Service!</h1>
    <h4>Are you wondering who's tweeting about your songs? With our service, you can know!</h4>
    <p>Try it out here!</p>
    <p>Click the lyric below to be shown who's tweeting those lyrics:</p>
    <div class="bordered border-black w-50">
    <a class="btn btn-success" asp-controller="Song" asp-action="GetTweets" asp-route-lyric="First things first rest in peace Uncle Phil">First things first rest in peace Uncle Phil</a>
</div>
<div class="d-flex justify-content-around">
    <div class="w-50">
        <partial name = "_Register"></partial>
    </div>
    <div class="w-50 ms-3">
        <partial name = "_Login"></partial>
    </div>
</div>


</div>