@model Query

<div>
    <h1 class ="text-center">Welcome to Lip Service!</h1>
    <h4 class ="text-center">Are you wondering who's tweeting about your songs? With our service, you can know!</h4>
</div>
<div class="d-flex justify-content-around mt-5">
    <div class="col me-4">
        <h5>Try it out here!</h5>
        <p>Click on one of the lyrics below to see who's tweeting those lyrics:</p>
        <div class="mt-5" >
            <h3>"Imagine" by John Lennon</h3>
            <a class="btn btn-lyric" asp-controller="Song" asp-action="GetTweets" asp-route-lyric="Imagine there's no heaven It's easy if you try" style="font-family: Arial; font-weight: bold">Imagine there's no heaven It's easy if you try</a>
        </div>
        <div class="mt-5">
            <h3>"Dreams" by Fleetwood Mac</h3>
            <a class="btn btn-lyric" asp-controller="Song" asp-action="GetTweets" asp-route-lyric="Oh, thunder only happens when it's raining" style="font-family: Arial; font-weight: bold">Oh, thunder only happens when it's raining</a>
        </div>
        <div class="mt-5">
            <h3>"Livin' On a Prayer" by Bon Jovi</h3>
            <a class="btn btn-lyric" asp-controller="Song" asp-action="GetTweets" asp-route-lyric="Tommy used to work on the docks" style="font-family: Arial; font-weight: bold">Tommy used to work on the docks</a>
        </div>
        <div class="mt-5">
            <h3>"No Role Modelz" by J. Cole</h3>
            <a class="btn btn-lyric" asp-controller="Song" asp-action="GetTweets" asp-route-lyric="First things first rest in peace Uncle Phil" style="font-family: Arial; font-weight: bold">First things first rest in peace Uncle Phil</a>
        </div>
    </div>
    <div class="col">
        <partial name = "_Register"></partial>
    </div>
    <div class="col ms-3">
        <partial name = "_Login"></partial>
    </div>
</div>