<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lip Service</title>
</head>
<body>
    <h1>Welcome to Lip Service!</h1>
    <h4>Are you wondering who's tweeting about your songs? With our service, you can know!</h4>
    <p>Try it out here!</p>
    <p>Click a lyric below to be shown who's tweeing those lyrics:</p>
    <p>Like what you see? Create an account!</p>
    <div>
        <partial name = "_Register"></partial>
    </div>
    <p>Already have an account? Login!</p>
    <div>
        <partial name = "_Login"></partial>
    </div>
</body>
</html>
