* {
    font-family: "Arista";
}

.my-btn-class{
    background-color: black;
    color: white;
}

.my-btn-class:hover{
    background-color: skyblue;
    color: black;
}

.sky {
    background-color: skyblue;
}

.big-btn {
    width: 250px;
    height: 100px;
    font-size: 30px;
}

.big-btn:hover {
    background-color: skyblue;
}

textarea {
    height: 300px; 
    width: 400px; 
    font-family: Arial, Helvetica, sans-serif
}

.btn-song-class {
    margin-top: 30px;
    font-size: 20px;
    padding: 0px 40px;
    height: 100px;
    background-color: black;
    border-radius: 5%;
    color: white;
}

.btn-song-class:hover {
    background-color: skyblue;
    color: white;
}

.btn-lyric:hover {
    background-color: black;
    color: white;
}

.btn-lyric {
    background-color: rgb(42, 178, 231);
    color: white;
}

.tweettxt {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.tweetdate {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.tweet {
    width: 450px;
    padding: 0px 10px;
    border-radius: 10px;
}

